.new-customer
  = link_to 'New Customer', new_customer_path, class: 'btn btn-default'

.container
  .customers
    - @customers.each do |customer|
      .customer
        .name= link_to customer.name, customer
